.title {
    font-family:'08서울남산체';
    font-size: 20px;
	color: #123858;
}

.container{
	display:flex;
	text-align:center;
	flex-wrap : wrap;
	padding: 15px 240px;
	margin:0;
}
			
.arr{
	font-family:'맑은고딕';
	color: #000000;
	text-align:right;
}
			
.arr:hover{
	color: #AAAAAA;
	cursor:pointer;
}
					
input[type="radio"] {
  	display: none;
}
			
input[type="radio"] + label span.img{
    display:inline-block;
    width: 22px;height: 22px;
    margin: -2px 9px 0 4px;
    font-size: 0;
    vertical-align: middle;
    background: url(#) no-repeat;cursor:pointer;
}
			
input[type="radio"]:checked + label span.img {
	background: url('resources/sun/sun.png') no-repeat;
}
					
.gf {
	width: 150px;
	height:150px;
    font-size: 15px;
}
			
.gf:hover {
	opacity: 0.5;
	filter: alpha(opacity=80);	
}

.gf2 { 	
	letter-spacing: -1px;
	margin:auto;
	width:150px;
	text-align: left;
	overflow: hidden;
	font-size: 17px;
	line-height: 17px;
	height: 30px;
}

.gf3 {
	margin:auto;
	width:150px;
	text-align: left;
	color: #333333;
	font-size: 15px;
	font-weight: bold;
}      
 	
.gf4{
	margin:auto;
	width:150px;
	text-align: left;
    color: #717171;
	font-size: 13px;
	font-weight: bold;
}	

.child-container{
    width:25%;	
    margin-bottom: 50px;				
} 
				
.gf1 {
	width: 200px;
	height:200px;
	font-size: 15px;	   
}

.gf5{
	width: 150px;
	height:150px;
    font-size: 15px;
    opacity: 0.3;
}		
		
p.typing-txt{
	color:red;
	font-weight:bold;
	position:relative;
	display: inline-block;
	height: 20px; 
	overflow: hidden;
	animation: typingAni 1.5s steps(30, end) 1;
	animation-iteration-count: infinite;
}
		
@keyframes typingAni {
 /*  0%{width:0%}
100%{width: 65px}; */
	50% {
	 opacity: 0;
	}
}