.btn {
	background: #004a88;
	border: 2px solid #004a88;
	border-radius: 4px;
	cursor:pointer;
	color: #ffffff;
	font-weight: bolder;
	padding:2px 6px 2px 6px;
	text-align:center;
	height:28px !important;
}
.btn:hover {
    background: #4f5356;
}