.jointitle {
	color: #ffffff;
	font-size: 18px;
	border-bottom: 3px solid #123858;
	border-top: 3px solid #123858;	
	
	
}

.jointitle td{
	margin: 5px 0 5px 0;
	border-bottom: 2px solid #123858;
	border-top: 3px solid #123858;
	
}


.join_table{
	border-spacing:17px;	

}

.join_table input{
	height:20px;
}